[Unit]
Description=Podman container-squid-cron.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
Requires=squid.service
After=network-online.target squid.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/podman rm --ignore -f %n
ExecStartPre=/usr/bin/rm -f %t/%n-pid
ExecStart=/usr/bin/podman run --conmon-pidfile %t/%n-pid \
	--cgroups=no-conmon \
	--volumes-from squid.service \
	-v /service/squid/periodic:/etc/periodic/hourly:z \
	--pid container:squid.service \
	-e TZ=US/Eastern \
	--name %n \
	--rm \
	-d \
	alpine:3.11 \
	crond -f -d7
ExecReload=/usr/bin/podman kill --signal HUP %n
ExecStop=/usr/bin/podman stop --ignore -t 10 %n
ExecStopPost=/usr/bin/podman rm --ignore -f %n
PIDFile=%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
